<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Card</title>
</head>

<body>
    <!-- CARD -->
    <article class="card">
        <section class="card__section">
            <div class="card__img-holder"></div>
            <section class="card__info">
                <h2 class="h2">A Heading</h2>
                <p class="p--card">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere, quod.</p>
            </section>
        </section>
    </article>

    <!-- ROOM -->
    <article class="room">
        <section class="room__section--img">
            <img class="room__img--big  border-radius-left" src="../images/06-day.jpg"
                alt="Photograph of a futuristic room with stars leading to a loft.">
            <img class="room__img--small border-radius-left" src="../images/04-night.jpg"
                alt="Photograph of a futuristic bed with sharp ceiling.">
            <img class="room__img--small" src="../images/02-day.jpg"
                alt="Photograph of a fire place and a nature view through a glass door.">
            <img class="room__img--small border-radius-right" src="../images/03-day.jpg"
                alt="Photograph of nature view through a window.">
        </section>
        <section class="room__section--info">
            <h2 class="h2">Luxury double suite</h2>
            <p class="p">Our finest suite with gorgeus view. Lorem ipsum dolor sit amet, consectetur adipiscing
                elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <section class="room__info">
                <ul>
                    <li class="p--list">20 m2</li>
                    <li class="p--list">Automatic cleaning</li>
                    <li class="p--list">Automatic steaming in closet</li>
                    <li class="p--list">Automatic lights</li>
                </ul>
                <h2 class="h2">$1205</h2>
            </section>
            <!-- BUTTON -->
            <button class="button room__btn">
                Book your stay
                <div class="button__hover-effect"></div>
            </button>
        </section>
    </article>

</body>

</html>