<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Card</title>
</head>
<body>
    <!-- CARD -->
    <article class="card">
        <section class="card__section">
            <div class="card__img-holder"></div>
            <section class="card__info">
                <h2 class="h2">Awesome heading</h2>
                <p class="p--card">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere, quod.</p>
            </section>
        </section>
    </article>
</body>
</html>