<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Document</title>
</head>

<body>
    <!-- HAMBURGER -->
    <section class="header__section--hamburger">
        <label class="header__label--hamburger" for="hamburger-menu">
            <svg width="30" height="22" viewBox="0 0 51 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 2H49M2 11H49M2 20H49" stroke="#54E9BC" stroke-width="2" stroke-linecap="round" />
            </svg>
        </label>
        <input class="header__input--hamburger" type="checkbox" id="hamburger-menu">
        <nav class="menu--hamburger">
            <a href="#" class="menu__item--hamburger">Search</a>
            <a href="index.html" class="menu__item--hamburger">Home</a>
            <a href="booking.html" class="menu__item--hamburger">Booking</a>
            <a href="rooms.html" class="menu__item--hamburger">Rooms</a>
            <a href="about.html" class="menu__item--hamburger">About</a>
            <a href="#" class="menu__item--hamburger">Contact</a>
        </nav>
    </section>
</body>

</html>