<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Header</title>
</head>
<body>

    <header>
        <img class="landscape-logo" src="../images/logo/bonz.ai-logo-color-landscape.png" alt="Logo: Neon green round symbol with text 'Bonz.ai'">
        <nav class="menu">
            <a class="menu__item" href="#">Home</a>
            <a class="menu__item" href="#">Contact</a>
            <a class="menu__item" href="#">About</a>
        </nav>
        <section class="btn__wrapper">
            <button class="btn--booking">
                <img class="icon-arrow"></div>
                <p class="menu__item">Booking</p>
            </button>
            <button class="btn--search">
                
            </button>

        </section>
    </header>
    
</body>
</html>