@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;500&family=Montserrat:ital,wght@0,300;0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: 400;
    list-style: none;
    background-repeat: no-repeat;
}

body {
    background-color: var(--Dark-purple);
}

:root {
    font-size: 62.5%;

    /* Colors */
    --Primary-color: #54E9BC;
    --Secondary-Color: #FFFFFF;
    --Dark-green: #1F221E;
    --Dark-purple: #24242E;
    
    /* Styling Heading 1 */
    --fs-h1: 9.6rem;
    --ff-h1: 'Jura', sans-serif;
    --fw-h1: 500;

    /* Styling Heading 1 for mobile */
    --fs-h1--mobile: 6.4rem;

    /* Styling Heading 2 */
    --fs-h2: 3.6rem;
    --ff-h2: 'Jura', sans-serif;

    /* Styling Paragraph */
    --fs-paragraph: 1.6rem;
    --ff-paragraph: 'Montserrat', sans-serif;
    --lh-paragraph: 140%;

    /* Styling Paragraph for cards */
    --fs-paragraph--card: 1.6rem;
    --ff-paragraph--card: 'Montserrat', sans-serif;
    --lh-paragraph--card: 110%;

    /* Styling menu item & link */
    --fs-menu-item: 2.0rem;
    --ff-menu-item: 'Jura', sans-serif;

    /* Styling button */
    --fs-btn: 2.4rem;
    --ff-btn: 'Jura', sans-serif;
    --fw-btn: 700;
    --fs-btn--small: 2rem;
}

/* ------------- TEXT STYLING ------------- */

.h1 {
    font-family: var(--ff-h1);
    font-size: var(--fs-h1--mobile);
    color: var(--Secondary-Color);
    font-weight: var(--fw-h1);
}

.h2 {
    font-family: var(--ff-h2);
    font-size: var(--fs-h2);
    color: var(--Secondary-Color);
}

.p {
    font-family: var(--ff-paragraph);
    font-size: var(--fs-paragraph);
    line-height: var(--lh-paragraph);
    color: var(--Secondary-Color);
    text-align: center;
}

.p--card, 
.p--list {
    font-family: var(--ff-paragraph--card);
    font-size: var(--fs-paragraph--card);
    line-height: var(--lh-paragraph--card);
    color: var(--Secondary-Color);
    margin: 1.5rem 0;
}

/* ------------- WRAPPER ------------- */

.wrapper {
    padding: 3rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    position: relative;
}
.wrapper::before {      /* To allow lower opacity of background img */
    content: '';
    background-image: url(../images/ivana-cajina-asuyh-_ZX54-unsplash.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .5;
}

/* ------------- HERO / HEADER ------------- */

.header {
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky; 
    top: 0;
    z-index: 1;
}

.header__section,
.header__menu {
    display: flex;
    align-items: center;
    gap: 5vw;
}

.landscape-logo {
    height: 3rem;
}

.menu__item {
    display: none;                  /* Ändra till display: inline; i media query*/
    font-size: var(--fs-menu-item);
    font-family: var(--ff-menu-item);
    color: var(--Secondary-Color);
}

.menu__item--active {
    font-weight: 500;
}

.header__btn {
    appearance: none;
    border: none;
    background-color: transparent;
    display: none;                  /* Ändra till display: flex i media query*/
    align-items: center;
}

.icon-arrow {
    height: 1.2rem;
    margin-right: 1rem;
    transform: rotateZ(-90deg);
    transition: transform 1s;
}

.hero {
    margin-top: -5.5rem;
    padding: 1.2rem;
    min-height: 100vh;
    background-image: url(../images/09-night.jpg);
    background-size: cover;
    background-position: center right -32rem;
}

.hero__section {
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
}

.hero__p {
    max-width: 70rem;
}


/* Hover effects */

.menu__item:hover,
.header__btn:hover .menu__item {
    color: var(--Primary-color);
    cursor: pointer;
}

.header__btn:hover {
    cursor: pointer;
}

.header__btn:hover .search path {
    fill: var(--Primary-color); 
}

.header__btn:hover .mypage path,
.header__btn:hover .mypage circle {
    stroke: var(--Primary-color); 
}

.header__btn:hover .icon-arrow {
    transform: rotateZ(270deg);
}

/* ------------- FOOTER ------------- */

.footer {
    background-color: var(--Dark-green);
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.6rem;
}

.footer__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem
}
.footer__section--icons {
    flex-direction: row;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.footer-logo {
    height: 2rem;
}

.footer__btn {
    appearance: none;
    border: none;
    background-color: var(--Primary-color);
    padding: .4em .8em;
    border-radius: 1.6rem 0 1.6rem 0;
    color: var(--Dark-green);
    font-size: var(--fs-btn--small);
    font-family: var(--ff-btn);
    transition: background-color 500ms, color 500ms;
}

/* Hover effects */

.spotify:hover,
.pinterest:hover,
.facebook:hover {
    cursor: pointer;
}

.spotify:hover path,
.pinterest:hover path,
.facebook:hover path {
    fill: var(--Primary-color);
}

.footer__btn:hover {
    background-color: var(--Dark-green);
    color: var(--Secondary-Color);
}

/* ------------- CARD ------------- */

.card {
    max-width: 32rem;
    padding-top: 6rem;
}

.card__section {
    background-color: var(--Dark-green);
    transition: transform 500ms;
    transform-origin: top;
    position: relative;
}

.card__img-holder {
    width: 28rem;
    height: 28rem;
    border-radius: 50%;
    background-color: var(--Primary-color);  /* IF the background-img wouldn't render */
    background-size: cover;
    position: absolute;
    top: -6rem;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.card__info {
    padding: 26rem 2rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}

/* Modifiers for background img */

.card__img-holder--our-rooms {
    background-image: url(../images/02-night.jpg);
}
.card__img-holder--our-facilities {
    background-image: url(../images/huum-NHLS5hOSH0c-unsplash.jpg);
}
.card__img-holder--contact-us {
    background-image: url(../images/mathias-arlund-8o8ZK7X9gVY-unsplash.jpg);
    background-position: center -4rem;
}

/* Hover effects */

.card:hover .card__section {
    transform: scale(1.05);
    cursor: pointer;
}

/* ------------- ROOM ------------- */

.room {
    display: flex;
    gap: 2rem;
    background-color: transparent;
}

.room__section--img {
    max-width: 56rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.room__img--big {
    width: 100%;
    grid-column: 1 / span 3;
}

.room__img--small {
    width: 100%;
    grid-column: auto / span 1;
}

.room__section--info {
    background-color: var(--Dark-green);
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.room__info {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.room__section--book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/* ------------- BUTTON ------------- */

.button {
    appearance: none;
    border: none;
    padding: 1.8rem 5rem;
    background-color: var(--Primary-color);
    color: var(--Dark-green);
    font-family: var(--ff-btn);
    font-size: var(--fs-btn);
    font-weight: var(--fw-btn);
    border-radius: 5rem 0 5rem 0;
    overflow: hidden;
    z-index: 1;
    position: relative;
}

.button__hover-effect {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: var(--Secondary-Color);
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    scale: 0;
    opacity: 0;
    transition: scale 1s, opacity 1s;
}

.button:hover {
    cursor: pointer;
}

.button:hover .button__hover-effect {
    scale: 3;
    opacity: .9;
}

@media screen and (min-width: 768px) {

    .header {
        position: static;   /* Removes sticky header */
    }

    .menu__item {
        display: inline;   
    }

    .header__btn {
        display: flex;
    }

    .hamburger {
        display: none;  /* Removes the hamburger menu in favor of header__btn and menu__item */
    }

    .h1 {
        font-size: var(--fs-h1);
    }

    .hero {
        background-position: center;
    }

    .footer {
        flex-direction: row;
    }

    .footer__section--icons {
        flex-direction: column;
    }
}