@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;500&family=Montserrat:ital,wght@0,300;0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: 400;
}

body {
    background-color: var(--Dark-purple);
}

:root {
    font-size: 62.5%;

    /* Colors */
    --Primary-color: #54E9BC;
    --Secondary-Color: #FFFFFF;
    --Dark-green: #1F221E;
    --Dark-purple: #24242E;
    
    /* Styling Heading 1 */
    --fs-h1: 9.6rem;
    --ff-h1: 'Jura', sans-serif;
    --fw-h1: 500;

    /* Styling Heading 2 */
    --fs-h2: 3.6rem;
    --ff-h2: 'Jura', sans-serif;

    /* Styling Paragraph */
    --fs-paragraph: 2.0rem;
    --ff-paragraph: 'Montserrat', sans-serif;
    --lh-paragraph: 140%;

    /* Styling Paragraph for cards */
    --fs-paragraph--card: 1.6rem;
    --ff-paragraph--card: 'Montserrat', sans-serif;
    --lh-paragraph--card: 110%;

    /* Styling menu item & link */
    --fs-menu-item: 2.0rem;
    --ff-menu-item: 'Jura', sans-serif;

    /* Styling button */
    --fs-btn: 2.4rem;
    --ff-btn: 'Jura', sans-serif;
    --fw-btn: 700;
    --fs-btn--small: 2rem;
}

/* ------------- TEXT STYLING ------------- */

.h1 {
    font-family: var(--ff-h1);
    font-size: var(--fs-h1);
    color: var(--Secondary-Color);
}

.h2 {
    font-family: var(--ff-h2);
    font-size: var(--fs-h2);
    color: var(--Secondary-Color);
}

.p {
    font-family: var(--ff-paragraph);
    font-size: var(--fs-paragraph);
    line-height: var(--lh-paragraph);
    color: var(--Secondary-Color);
}

.p--card {
    font-family: var(--ff-paragraph--card);
    font-size: var(--fs-paragraph--card);
    line-height: var(--lh-paragraph--card);
    color: var(--Secondary-Color);
}



/* ------------- HEADER ------------- */

.header {
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__section,
.header__menu {
    display: flex;
    align-items: center;
    gap: 5vw;
}

.landscape-logo {
    height: 4.7rem;
}

.menu__item {
    font-size: var(--fs-menu-item);
    font-family: var(--ff-menu-item);
    color: var(--Secondary-Color);
}

.menu__item--active {
    font-weight: 500;
}

.header__btn {
    appearance: none;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.icon-arrow {
    height: 1.2rem;
    margin-right: 1rem;
    transform: rotateZ(-90deg);
}


/* Hover effects */

.menu__item:hover,
.header__btn:hover .menu__item {
    color: var(--Primary-color);
    cursor: pointer;
}

.header__btn:hover {
    cursor: pointer;
}

.header__btn:hover .search path {
    fill: var(--Primary-color); 
}

.header__btn:hover .mypage path,
.header__btn:hover .mypage circle {
    stroke: var(--Primary-color); 
}


/* ------------- FOOTER ------------- */

.footer {
    background-color: var(--Dark-green);
    padding: 4rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem
}

.footer__menu {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.footer-logo {
    height: 2rem;
}

.footer__btn {
    appearance: none;
    border: none;
    background-color: var(--Primary-color);
    padding: .4em .8em;
    border-radius: 1.6rem 0 1.6rem 0;
    color: var(--Dark-green);
    font-size: var(--fs-btn--small);
    font-family: var(--ff-btn);
    transition: background-color 500ms, color 500ms;
}

/* Hover effects */

.spotify:hover,
.pinterest:hover,
.facebook:hover {
    cursor: pointer;
}

.spotify:hover path,
.pinterest:hover path,
.facebook:hover path {
    fill: var(--Primary-color);
}

.footer__btn:hover {
    background-color: var(--Dark-green);
    color: var(--Secondary-Color);
}

/* ------------- CARD ------------- */

.card {
    max-width: 32rem;
    padding-top: 6rem;
}

.card__section {
    background-color: var(--Dark-green);
    transition: transform 500ms;
    transform-origin: top;
    position: relative;
}

.card__img-holder {
    width: 28rem;
    height: 28rem;
    border-radius: 50%;
    background-color: var(--Primary-color);
    position: absolute;
    top: -6rem;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.card__info {
    padding: 26rem 2rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}

/* Hover effects */

.card:hover .card__section {
    transform: scale(1.05);
    cursor: pointer;
}